# Backend
backend/target/
backend/.idea/
backend/*.iml

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

jobtrack-frontend/


# Environment files
.env
.env.*
!.env.example

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db